*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: #ced8ff;
}

.logo{
    height: 50px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 15px;
}

.navbar{
    width: 500px;
    height: 40px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px 7%;
    border-radius: 50px;
    margin-left: 25%;
    margin-right: 20%;
}

.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 15px;
}

ul{
    list-style: none;
    text-align: center;
    overflow: hidden;
}

ul li{
    display: inline-block;
    margin: 0px 20px;
    font-size: 17px;
    cursor: pointer;
}

ul li:hover {
    color: gray;
}

ul li:active {
    color: grey;
}