.about{
    height: calc(100vh - 6rem);
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    /* transition: 0.5s; */
}

.dark .about{
    background: #222;
    color: #fff;
}

.aboutContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: 1.75rem;
    font-weight: 200;
}

.introName{
    color: darkorchid;
}

.introParagraph{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}