*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App{
  width: 100vw;
  min-height: 100vh;
  background: #E6E6FA;
  transition: 0.5s;
}

.App.dark{
  background: #222;
}